:root {
  --ff-raleway: "Raleway", sans-serif;
  --border-black: black 2px solid;
  --border-white: white 2px solid;
  --border-green: green 2px solid;
  --color-orange: hsl(23, 100%, 50%);

  --ff-light: 200;
  --ff-normal: 400;
  --ff-semibold: 500;
  --ff-bold: 600;

  --fs-400: 0.9375rem;
  --fs-900: 3rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-800: 2.625rem;

  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);
}
* {
  font-family: var(--ff-raleway);
}
body {
  margin-top: 70px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: var(--ff-raleway);
}
/* * {
  margin: 0;
  padding: 0;
} */
/* body {
  margin: 0;
} */
h1,
h2,
h3 {
  line-height: 1.1;
}
.navbar-container {
  z-index: 100;
  position: fixed;
  display: flex;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 70px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
.navbar-container > * {
  color: hsl(23, 100%, 50%, 0.945);
  font-weight: bold;
  font-size: var(--fs-500);
  position: relative;
}
.navbar-home,
.navbar-order {
  color: hsl(23, 100%, 50%, 0.945);
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar-home:hover,
.navbar-order:hover {
  color: green;
}
.left-section {
  flex: 8;
}
.web-title {
  margin: 3rem;
}
.right-section {
  display: flex;
  justify-content: center;
  /* border: white 2px solid; */
  flex: 2;
}
.right-section > * {
  flex: 1;
  /* border: white 2px solid; */
  text-align: center;
}

.navbar-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05)
  );
}

.home-container {
  /* border: var(--border-green); */
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
.home-word {
  flex: 2;
  /* border: var(--border-black);l */
  margin-left: 9vw;
}
.home-text {
  font-weight: 900;
  font-size: var(--fs-800);
}
.factory-img-container {
  /* border: var(--border-black); */
}

.order-button {
  display: inline-block;
  font-size: var(--fs-600);
  font-weight: 600;
  padding: 10px 20px;
  background-color: hsla(23, 100%, 50%, 0.945);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  white-space: normal;
  text-align: center;
}

.order-button:hover {
  background-color: green;
}
/* .order-button {
  font-size: var(--fs-600);
  font-weight: 600;
  padding: 10px 20px;
  background-color: hsla(23, 100%, 50%, 0.945);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.order-button:hover {
  background-color: green;
}

.order-button:active {
  background-color: rgb(3, 125, 3);
}
.slider {
  flex: 3;
  width: 80%;
  height: 80%;
  overflow: hidden;
  padding-right: 10vh;
  /* border: var(--border-green); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home-photo-container {
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
}
.arrow {
  position: absolute;

  bottom: 10px;

  font-size: 2em;
  color: white;

  background-color: hsla(23, 100%, 50%, 0.945);
  border: none;
  padding: 0.8vw;
  cursor: pointer;
}

.arrow-left {
  right: 40px;
}

.arrow-right {
  right: -10px;
}
footer {
  text-align: center;
  background-color: hsl(23, 100%, 50%);
  padding: 7px;
  color: white;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5vh;

  flex-direction: row;
}
.company-name-footer {
  margin-bottom: 1.7vh;
}
.logo-footer-img {
  width: 10vw;
}
.footer-title {
  font-size: var(--fs-600);
  font-weight: var(--ff-bold);
  color: white;
  text-align: center;
  margin-bottom: 1.7vh;
}
.contact-sub-container {
  text-align: start;
  width: 36vw;
  margin-bottom: 1.7vh;
  display: flex;
  flex-direction: row;
}
.footer-text {
  margin-left: 1vw;
}
.links-sub-container {
  margin-bottom: 1.7vh;
}
.footer-link {
  color: darkblue;
  text-decoration: none;
  font-weight: var(--ff-normal);
}
.footer-link:hover {
  text-decoration: underline;
}
.banner-1-container {
  display: flex;
  margin-bottom: 30vh;
  justify-content: space-evenly;
}
.banner-1-left-section {
  width: 50vw;
}
.banner-1-right-section {
  width: 30vw;
}
.banner-1-text {
  text-align: justify;
  font-size: var(--fs-500);
  font-weight: var(--ff-semibold);
}
iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5%;
}

.banner-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40vh;
}
.quote-icon {
  height: 15vh;
}

.banner-2-text {
  text-align: center;
  font-size: var(--fs-600);
  font-weight: var(--ff-semibold);
  width: 70vw;
}
.banner-2-special-text {
  color: hsl(23, 100%, 50%);
}
.banner-3-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30vh;
}
.banner-3-left-section {
  display: flex;
  width: 80vw;
  padding-left: 2vw;

  flex-direction: column;
}
.banner-3-list-container {
  display: flex;
  margin-bottom: 2vh;
}
.banner-3-icon {
  height: 1.25rem;
  margin-right: 1vw;
}
.banner-3-text {
  font-size: var(--fs-500);
}
.banner-3-right-section {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 40vw;
  margin-right: 3vw;
  margin-left: 3vw;
}
.banner-3-right-text {
  white-space: nowrap;
  font-size: var(--fs-500);
  font-weight: var(--ff-semibold);
  line-height: 1.5;
}
.banner-3-title,
.gallery-title {
  font-size: var(--fs-800);
  display: flex;
  font-weight: var(--ff-bold);
  margin-bottom: 3vh;
}
.social-media-link {
  text-decoration: none;
}
#progress {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 9px);
  width: calc(100% - 9px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: hsl(23, 100%, 50%);
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: var(--color-orange);
}

.swiper-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
  /* border: var(--border-green); */
  margin-bottom: 30vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 50%;

  color: white;
  background: none;
}
.swiper-button-next {
  right: 1vw;
}
.swiper-button-prev {
  left: 1vw;
}

@media (max-width: 800px) {
  .web-title {
    margin-right: 4vw;
    margin-left: 2vw;
  }
  .navbar-order {
    margin-right: 2vw;
    margin-left: 5vw;
  }
  .home-container {
    align-items: center;
    /* border: var(--border-green); */
    height: unset;
    /* height: calc(100vh - 70px); */
    padding-top: 70px;
    gap: 30vh;
    display: flex;
    flex-direction: column;

    margin-bottom: 20vh;
  }

  .banner-1-container {
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    /* border: var(--border-green); */
  }
  .banner-3-container {
    flex-direction: column;
    align-items: center;
  }
  .slider {
    padding-right: unset;
  }

  .home-word {
    margin-left: unset;
  }
  .home-text {
    margin-inline: 5vw;
    display: flex;
    justify-content: center;
    text-align: start;
  }
  .order-button {
    margin-left: 5vw;
  }
  .banner-1-left-section {
    width: 70vw;
  }
  .banner-1-right-section {
    width: 70vw;
  }
  .banner-3-left-section {
    padding-left: unset;
  }
  .banner-3-text {
    text-align: justify;
    line-height: 1.3;
  }
  .banner-3-right-section {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 80vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }
  .banner-3-right-text {
    white-space: nowrap;
    font-size: var(--fs-500);
    font-weight: var(--ff-semibold);
    line-height: 1.5;
    padding-left: 1vw;
  }
  .banner-3-container {
    gap: 10vh;
  }
  .location-icon {
    height: 1.5rem;
  }
  .footer-text,
  .footer-link {
    font-size: 0.8rem;
  }
  .footer-container {
    flex-direction: column;
  }
  .links-footer-container {
    margin-right: 3vw;
  }
  #progress {
    position: fixed;
    z-index: 1000;
    bottom: 45px;
    right: 10px;
    height: 45px;
    width: 45px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .banner-3-right-text {
    white-space: unset;
  }
  .contact-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-sub-container {
    width: 50vw;
    margin-bottom: 1.7vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }
}
