:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --border-black: black 2px solid;
  --border-white: white 2px solid;
  --border-green: green 2px solid;
  --color-orange: hsl(23, 100%, 50%);

  --ff-light: 200;
  --ff-normal: 400;
  --ff-semibold: 500;
  --ff-bold: 600;

  --fs-400: 0.9375rem;
  --fs-900: 3rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-800: 2.625rem;

  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);
}
* {
  font-family: var(--ff-montserrat);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
body {
  margin-top: 70px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.navbar-container {
  z-index: 100;
  position: fixed;
  display: flex;
  top: 5px;
  right: 2px;
  left: 2px;
  height: 60px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.navbar-container > * {
  color: hsl(23, 100%, 50%, 0.945);
  font-weight: bold;
}
.navbar-home,
.navbar-order {
  color: hsl(23, 100%, 50%, 0.945);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.navbar-home:hover,
.navbar-order:hover {
  color: green;
}
.left-section {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 8;
}
.logo-nav-marimas {
  height: 8vh;
  margin-left: 2vw;
}
.web-title {
  margin-left: 1vw;
  font-size: var(--fs-600);
}
.right-section {
  display: flex;
  justify-content: center;
  /* border: white 2px solid; */
  flex: 2;
}
.right-section > * {
  /* border: white 2px solid; */
  text-align: center;
  flex: 1;
}

.order-container {
  /* border: var(--border-green); */
  width: 100%;
  display: flex;
  padding-top: 1vh;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}
.form-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.form-title h2 {
  font-weight: bold;
  font-size: 25px;
}
.form-title hr {
  height: 5px;
  border-radius: 10px;
  background-color: black;
  border: none;
}
.form-input {
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  font-weight: medium;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.age-container {
  display: flex;
  gap: 10px;
}
.form-input-age {
  width: 240px;
  height: 50px;
  border: none;
  outline: none;
  font-weight: medium;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.form-input:focus,
.form-input-age:focus {
  box-shadow: inset 0px 0px 0px 2px black;
}

.submit-button {
  display: flex;
  align-items: center;
  padding: 13px 40px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.submit-button:active {
  background-color: lightgrey;
}
.calendar-container {
  margin-top: 2vh;
  width: 500px;
}
.fc-event .fc-event-title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}
.submit-container {
  display: flex;
}
.order-info-container {
  display: flex;
  flex-direction: column;
  align-items: end;

  /* border: var(--border-green); */
}
.wa-cs-container {
  display: flex;
  /* justify-content: end; */
}
.jadwal-info-container,
.wa-cs-container {
  font-size: var(--fs-400);
  margin-left: 8vw;
}
.jadwal-info-container {
  display: flex;

  visibility: hidden;
  /* border: var(--border-green); */
}

.whatsapp-logo,
.arrow-down-logo {
  height: 6vh;
  /* border: var(--border-black); */
}
.whatsapp-link {
  text-decoration: none;
  color: var(--color-orange);
}
.whatsapp-link:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .web-title {
    font-size: 1.1rem;
  }
  .navbar-container {
    display: flex;
    justify-content: start;
    margin: 0px;
    /* border: var(--border-green); */
  }
  .navbar-container > * {
    font-size: smaller;
    width: 10vw;
  }
  .logo-nav-marimas {
    height: 5vh;
  }
  .left-section {
    flex: 2;
  }
  .right-section {
    flex: 1;
  }
  .navbar-order {
    margin-right: 2vw;
    margin-left: 5vw;
  }
  .form-title {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .form-input {
    width: 80vw;
  }
  .age-container {
    flex-direction: column;
  }
  .form-input-age {
    width: 80vw;
  }
  .order-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
  }
  .form-left {
    margin-bottom: 10vh;
  }

  .wa-cs-container {
    margin-left: 19vw;
  }
  .jadwal-info-container {
    margin-left: 19vw;
    visibility: unset;
  }
  .jadwal-text {
    color: var(--color-orange);
  }
  .jadwal-info-container,
  .wa-cs-container {
    font-size: 10px;
  }
  .arrow-down-logo {
    height: 10px;
  }
  .whatsapp-logo {
    height: 5vh;
  }
  .form-right {
    width: 100%;
  }
  .calendar-container {
    width: 100%;
  }
  .submit-container {
    margin-left: 2vw;
  }
}
